
body {
	background-image: url("space.jpg");
	background-image: url("dataviz.svg");
	background-size: 100%;
	background-repeat: no-repeat;
		
}
p {
	display: inline-block;
}
#main {
	position: absolute; /* Относительное позиционирование */
	width: 1024px;	/* Ширина блока div */
	max-width: 1024px;
	height: 100%;
	margin-left: -500px; /* Внешний левый отступ. Отрицательное значение означает, что блок выходит за левого края браузера на 500px */
	margin-right: -500px;
	left: 50%; /* Позиционирование относительно левого края окна браузера */
	right: 50%;
	top: 0;
}
.hat_container {
	position: absolute;
	margin-left: -50%;
	left: 50%; 
	right: 50%;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1;
	margin: 0 auto;
	width: 100%;
}
.contentHeader {
	position: absolute;
	top: 3em;
	margin: 1em;
	font-family: txt;
	font-size: 40px;
	text-align: center;
	text-decoration: none;
}
.sidebar_int {
	position: absolute;
	background-color: rgba(255,255,255,0.2);
	font-size: 20px;
	font-family: ISOCP;
}
.content {
	vertical-align: center;
	position: absolute;
}
.logo {
	position: absolute;
	left: 0px;
}
*{
    box-sizing: border-box;
	font-family: txt;
}
@media screen and (min-width: 320px) {
    body {
        background-color: black;
		 }
            #mySidebar {
                font-size: 20px;
				width: 70%;
				height: 100%;
				right: 0;
				z-index: 3;
            }
			#closeBar {
				width: 30%;
				height: 100%;
				left: 0;
				z-index: 3;
			}
			#textLogo {
				top: 0;
				z-index: 3;
			}
        }
